{% extends "::base.html.twig" %}

{% block content %}
              <div class="wrapper">
                  
                <form action="{{ path('forgotPassword') }}" method="post" role="form" class="form-signin">
                
                <h2 class="form-signin-heading"> Find Your Account </h2>
                
                {% if message != ''	%}
                <div class="alert alert-danger" role="alert">{{message|capitalize}}</div>
                {% endif %}
                <input name="email" type="email" class="form-control auth" placeholder="Email" required autofocus>
               
                <button class="btn btn-primary btn-block" type="submit">
                    Request Password Reset</button>
                </form>

                </div>
{% endblock %}
